.animate-bgChange {
    background-color:white; 
    transition: background-color 0.3s ease; 
  }
  
  
  .card {
    background-color:black; 
    border-radius: 1rem; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .card h1 {
    font-size: 2rem; 
  }
  
  .card p {
    font-size: 1rem; 
  }
  
  
  .btn-primary {
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    border-radius: 2rem; 
    padding: 0.5rem 1rem; 
    cursor: pointer; 
  }
  
  .btn-primary:hover {
    background-color: #0056b3; 
  }
  
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5); 
  }